.imagem{

    width: 200px;
    height: 200px;
}
h1 {
    color: rgb(238, 240, 243);
    text-emphasis: none;
    font-size: 600;
}
body {
background-color: aliceblue;
}

body {
    background-color: rgb(151, 0, 0);
}

.pokemons{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20%;
}