.imagem{

    width: 500px;
    height: inherit;
}
h1 {
    color: rgb(0, 136, 255);
    text-emphasis: none;
    font-size: larger;
}
h1 {
    color: crimson;
    text-overflow: clip;
    font-size: medium;
}
body {
    background-color: black;
}
